/* GENERAL */

html{
    scroll-behavior: smooth;
}


body{
    color: #fff;
}



h2,
h3,
h4,
h5,
h6{
    color: #031c4e;
    font-weight: 600;
}

p{
    color: #5c6a88;
}

img{
    max-width: 100%;
}




/* UTILITIES */


/* Menu */

.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child{
    margin-right: 0;
}


.menu-partner li{
    display: inline-block;
    width: calc(100% / 2 - 20px);
    margin-right:10px;
    margin-left:0;
}

.menu-info{
    padding: 5px 0;
    border-left: 1px solid #ccc;
}

.menu-info li{
    list-style: none;
    margin-bottom: 15px;
}

.menu-info li a{
    padding-left: 10px;
    color:#75809a;
    text-decoration: none;
}


.pagination.pagination-card li{
    display: inline-block;
    list-style: none;
    margin-right: 3px;
    
}

.pagination.pagination-card li a{
    display: inline-block;
    padding: 5px 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #006aff;
}

.pagination > .active > a{
    background-color: #006aff;
}

.menu-inline.social{
    padding-left: 0;
}

.menu-inline.social li{
    margin-right: 10px;
}

.social li a{
    display: inline-block;
    font-size:18px;
    transition: .4s;
    color: #7a859d;
}

.foot-list{
    padding-left: 0;
    list-style: none;
    color: #7a859d;
}

.foot-list li a{
    transition: .4s;
    color: #7a859d;
    margin-bottom: 5px;
}

.foot-list li a:last-child{
    margin-bottom: 0;
}



/* Icons */

.icon-google{
    position: absolute;
    left: 10px;
    width: 16px;
    vertical-align: middle;
}


/* Buttons */

.btn{
    min-width:100px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color:#3a8aff;
    border: 1px solid #3a8aff;
    border-radius:5px;
}

.btn.large{
    padding: 15px;
    background-color:#fff;
    text-decoration: none;
    font-size:16px;
    line-height:16px;
    transition: all .3s;
}

.btn-account{
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    background-color:#579aff;
    transition: all .3s;
}

.btn-terms{
    display: inline-block;
    text-align: center;
    color: #006aff;
    
}

.btn-google{
    color: #626262;
    background-color:#fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
    position: relative;
    transition: all .3s;
}


/* Colors */

.light-blue-p{
    color: #bbcdff;
}

.light-grey-p{
    color: #75809a;
}

.classical-p{
    color: #596786;
}

.light-blue-start{
    color: #006aff;
}
.light-green-link{
    color: #00d5d1;
}


.light-hamb{
    color: #3a8aff;
}

.white{
    color: #fff;
}

.bg-card{
    background-color: #fff;
}

.p-color-sz-card{
    color: #5c6a88;
    font-size: 22px;
}

.bg-linear{
    background-image:linear-gradient(180deg, #0048c5, #00219b)

}

.bg-foot{
    background-color: #031c4e;
}

/* Text */

.upper{
    text-transform: uppercase;
}

.capitalize{
    text-transform:capitalize;
}

.ft-sz-sm{
    font-size: 12px;
}


/* Positions margin e padding */

/* margin */

.mg-rg-xs{
    margin-right: 5px;
}

.mg-lf-xs{
    margin-left: 3px;
}

.mg-bt-xs{
    margin-bottom: 5px;
}

.mg-tp-xs{
    margin-top: 5px;
}

.mg-tp-sm{
    margin-top:15px;
}

.mg-bt-sm{
    margin-bottom: 15px;
}

.mg-tp-md{
    margin-top: 20px;
}

.mg-bt-md{
    margin-bottom: 20px;
}

.mg-tp-lg{
    margin-top: 30px;
}

.mg-bt-lg{
    margin-bottom: 30px;
}

.mg-bt-xl{
    margin-bottom: 50px;
}

.mg-tp-xl{
    margin-top: 50px;
}



/* padding */

.pd-tp-sm{
    padding-top:20px;
}

.pd-bt-sm{
    padding-bottom:20px;
}

.pd-tp-md{
    padding-top:50px;
}

.pd-bt-md{
    padding-bottom: 50px;
}


/* HEADER */

.main-header{
    font-size: 13px;
    /* modifico altezza header e colori testo e altre caratteristiche */
    line-height:50px;
    /* height:50px; */
    color: #fff;
    z-index: 10;
}


/* Logo */


.main-header .logo img{
    width: 160px;
    vertical-align: middle;
}

/* Nav Center */

.main-header .nav-center{
    display: none;
}

/* Nav-right */

.main-header .nav-right .nav-list{
    display: none;
}

/* Hamburger */

.main-header .nav-right .ham{
    display:block;
    text-align: right;
}

/* JUMBOTRON */


/* top-jumbo */

/* left */

.top-jumbo{
background-image: url(../img/bg-banner-home.jpg);
background-size: cover;
}


/* right */

.registration-form{
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 5px;
}


/* bottom-jumbo */
.bottom-jumbo{
    background-color: #f3f5f9;
}


/* INFO 1, INFO 2*/


/* Aside central-right */

.info .thumb img,
.info-2 .thumb img{
    width: 40px;
}

.info-2 .thumb{
    margin-top:30px;
}

/* SLIDE */
.slide{
    background-color: #f3f5f9;
}


/* Slide-card */

.card::before{
    display: inline-block;
    content: "\f104";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: #6f7b97;
    font-size: 34px;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.card::after{
    display: inline-block;
    content: "\f105";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: #031c4e;
    font-size: 34px;
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-105%, -50%);
    cursor: pointer;

}

/* TABLE */
.sect-table {
    padding-top: 30px;
    padding-bottom:30px;
}


.table-list{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-list tr{
    border-top: 1px solid #fff;
}

.table-list tr td{
    padding: 10px;
    font-size: 14px;
    line-height:1.5;
    vertical-align:top;
}

.table-list tr.first{
    border-top: 0;
}


/* HOVER,FOCUS EFFECT */

/* Header */

.main-header .nav-right .ham:hover i{
    color: #0049ff;
}

/* Top Jumbo, Form */

.registration-form input[type="email"]:focus,
.registration-form input[type="password"]:focus{
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .5);
}

.btn-account:hover{
    cursor: pointer;
    color: #fff;
    background-color:#0049ff;
    text-decoration: none;
}

.btn-google:hover{
    text-decoration: none;
    cursor:pointer;
    font-weight: bold;  
}

.btn-terms:hover{
    text-decoration: none;
    color: #006aff;

}

/* Table */

.sect-table .table-list a:hover{
    text-decoration: none;
    color:#3c65fa;
}

/* Get started */

.btn.large:hover{
    background-color: #3a8aff;
    color: #fff;
    border: 1px solid;

}

/* Footer */

/* Social */

.social li a:hover{
    transform: scale(2);
    color: #0080ff;
}

/* List */

.foot-list li a:hover{
    text-decoration: none;
    color: #ccc;
}























/* RESPONSIVE FOR IPAD DA 768PX A 991PX  (sm)*/
@media screen and (min-width: 768px){

/* UTILITIES */

/* Menù */

.menu-partner li{
    width: calc(100% / 6 - 40px);
    margin-right:20px;
}




/* JUMBOTRON */



.jumbo .top-jumbo h1{
    font-size:40px;
    font-weight:500;
}

/* SLIDE */

.slide{
    padding-bottom: 50px;
}

/* INFO */

.info-2 .thumb{
    margin-top:50px;
}

/* GET STARTED */
.get-start{
    padding-top: 70px;
}

}


/* RESPONSIVE FOR DESKTOP DA 992PX IN POI(md) */
@media screen and (min-width:992px){

/* HEADER */

.main-header{
    height: 60px;
    line-height: 60px;
}

.main-header a:not(.btn){
    text-decoration: none;
    color: #031c4e;
}

.main-header a.btn{
    line-height:1;
}


/* Nav Center */

.main-header .nav-center{
    display: block;
}


/* Nav-right */

.main-header .nav-right{
    text-align: right;
    display:block;
}

.main-header .nav-right .nav-list{
    display: block;
}


/* Hamburger */

.main-header .nav-right .ham{
    display:none;
}

/* JUMBOTRON */


/* top-jumbo */

/* left */

.jumbo .top-jumbo h1{
    font-size:60px;

}







}

