/* GENERAL */

html{
    scroll-behavior: smooth;
}


body{
    color: #fff;
}



h2,h3{
    color: #031c4e;
}

img{
    max-width: 100%;
}




/* UTILITIES */

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.fl-left{
    float: left;
}

.pos-relative{
    position: relative;
}

/* Menu */

.menu-inline li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child{
    margin-right: 0;
}


.menu-partner li{
    display: inline-block;
    width: calc(100% / 2 - 20px);
    margin-right:10px;
    margin-left:0;
}

/* Icons */

.icon-google{
    position: absolute;
    left: 10px;
    width: 16px;
    vertical-align: middle;
}



/* Buttons */

.btn{
    min-width:100px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color:#3a8aff;
    border: 1px solid #3a8aff;
    border-radius:5px;
}

.btn-account{
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    background-color:#579aff;
}

.btn-terms{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #626262;

}


.btn-google{
    color: #626262;
    background-color:#fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
    position: relative;

}

/* Colors */

.light-blue-p{
    color: #bbcdff;
}

.light-grey-p{
    color: #75809a;
}

.light-blue-start{
    color: #006aff;
}
/* Text */

.upper{
    text-transform: uppercase;
}

.capitalize{
    text-transform:capitalize;
}

.ft-sz-sm{
    font-size: 12px;
}


/* Positions margin e padding */

/* margin */

.mg-rg-xs{
    margin-right: 5px;
}

.mg-lf-xs{
    margin-left: 3px;
}

.mg-tp-sm{
    margin-top:15px;
}

.mg-bt-sm{
    margin-bottom: 15px;
}

.mg-tp-md{
    margin-top: 20px;
}

.mg-bt-md{
    margin-bottom: 20px;
}

.mg-tp-lg{
    margin-top: 30px;
}

.mg-bt-lg{
    margin-bottom: 30px;
}



/* padding */

.pd-tp-sm{
    padding-top:20px;
}

.pd-bt-sm{
    padding-bottom:20px;
}

.pd-tp-md{
    padding-top:50px;
}

.pd-bt-md{
    padding-bottom: 50px;
}

/* HEADER */

.main-header{
    height: 40px;
    font-size: 13px;
    /* modifico altezza header e colori testo e altre caratteristiche */
    line-height:40px;
    padding: 0 15px;
    color: #fff;
    z-index: 10;
    /* bisogna ricordare che il padding 
    si somma alla line-height */
}


.main-header a:not(.btn){
    text-decoration: none;
    color: #031c4e;
}

/* Logo */
.main-header .logo{
    width:30%;
}

/* .main-header .logo a.lg{
    width: 150px;
    line-height:1;
} */

.main-header .logo img{
    max-width: 100%;
    vertical-align: middle;
}

/* Nav Center */

.main-header .nav-center{
    display: none;
}

/* Nav-right */

.main-header .nav-right{
    width: 70%;
}

.main-header .nav-right .nav-list{
    display: none;
}

/* Hamburger */

.main-header .nav-right .ham a.ham-txt{
    display:block;
    color: #3a8aff;
}

/* JUMBOTRON */


/* top-jumbo */

/* left */

.top-jumbo{
background-image: url(../img/bg-banner-home.jpg);
background-size: cover;
}

.title-content{
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
}

/* right */

.registration-form{
    background-color: #fff;
    border-radius: 5px;
}


/* bottom-jumbo */
.bottom-jumbo{
    background-color: #f3f5f9;
}








@media screen and (min-width: 768px){

    /* UTILITIES */

    /* Menù */

    .menu-partner li{
    width: calc(100% / 6 - 40px);
    margin-right:20px;
}


/* JUMBOTRON */


/* top-jumbo */

/* left */

.jumbo .top-jumbo h1{
    font-size:45px;
    font-weight:500;
}

}




/* RESPONSIVE FOR DESKTOP DA 1024PX IN POI */
@media screen and (min-width:992px){

/* HEADER */

.main-header{
    height: 60px;
    line-height: 60px;
}


/* Logo */


.main-header .logo{
    width:15%;
}


/* Nav Center */

.main-header .nav-center{
    width: 45%;
    display: block;
}


/* Nav-right */

.main-header .nav-right{
    width: 40%;
    text-align: right;
    display:block;
}

.main-header .nav-right .nav-list{
    display: block;
}


/* Hamburger */

.main-header .nav-right .ham{
    display:none;
}

/* JUMBOTRON */


/* top-jumbo */

/* left */

.jumbo .top-jumbo h1{
    font-size:60px;

}




}

